$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$header-logo-height-desktop: pxToRem(100)

// Colors
$color-accent: #ba6738
$color-danger: #AF0000
$color-text: #292929
$color-text-alt: #b96738
$color-background: #f8f3e5
$color-background-alt: #efe6cd

// Grid

// $grid-gutter: pxToRem(24)
// $grid-gutter-lg: pxToRem(24)
// $grid-gutter-xxl: pxToRem(24)

// Fonts family
$body-font-family: "Fraunces", "Times New Roman", "Times", serif
$heading-font-family: "Fraunces", "Helvetica", "Arial", sans-serif

$h5-text-transform: none
$h6-text-transform: none

