header#document-header
    @include media-breakpoint-up(desktop)
        nav.primary-menu
            > .container
                gap: $spacing-2

footer#document-footer
    background-image: url(/assets/images/illustrations/livre3.png)
    background-position: calc(100% - var(--grid-gutter)) 50%
    background-repeat: no-repeat
    background-size: pxToRem(300)